In [13]:
import pandas as pd
df_authors = pd.DataFrame({'author_id':[1, 2, 3],
                           'author_name':['Тургенев', 'Чехов', 'Островский']}, columns=['author_id', 'author_name'])
df_books = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],
                        'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                        'price':[450, 300, 350, 500, 450, 370, 290]},
                       columns=['author_id', 'book_title', 'price'])
df_authors_price = pd.merge(df_authors, df_books, on='author_id', how='inner')
df_authors_stat = pd.DataFrame({'author_name':['Тургенев', 'Чехов', 'Островский'],
                        'min_price':[df_authors_price.loc[df_authors_price['author_id'] == 1, 'price'].min(),
                                     df_authors_price.loc[df_authors_price['author_id'] == 2, 'price'].min(),
                                     df_authors_price.loc[df_authors_price['author_id'] == 3, 'price'].min(),],
                        'max_price':[df_authors_price.loc[df_authors_price['author_id'] == 1, 'price'].max(),
                                     df_authors_price.loc[df_authors_price['author_id'] == 2, 'price'].max(),
                                     df_authors_price.loc[df_authors_price['author_id'] == 3, 'price'].max()],
                        'mean_price':[df_authors_price.loc[df_authors_price['author_id'] == 1, 'price'].mean(),
                                      df_authors_price.loc[df_authors_price['author_id'] == 2, 'price'].mean(),
                                      df_authors_price.loc[df_authors_price['author_id'] == 3, 'price'].mean()]},
                       columns=['author_name', 'min_price', 'max_price', 'mean_price'])

In [14]:
df_authors_stat

  author_name  min_price  max_price  mean_price
0    Тургенев        300        450  366.666667
1       Чехов        450        500  475.000000
2  Островский        290        370  330.000000